/* COLOR PALETTE 
Yellow Green, #E4E69B
Salmon, #FFA384
Coral, #FF8882
Pewter, #928D89
Baby Blue, #E7F2F8
Mint, #D2E5D0
--------------------- */

/* GLOBAL 
 --------------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'cashew';
  src: url(../fonts/Cashew.ttf);
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
a {
  color: #ff8882;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  /* use margin to center align block content*/
  max-width: 80%;
  margin: auto;
  overflow: auto;
}

.column-narrow {
  width: 25%;
  float: left;
  min-height: 175;
}
.column-wide {
  width: 70%;
}
/* HEADER FOOTER
 --------------------- */
header,
footer {
  background: #928d89;
  color: whitesmoke;
}
header h1,
header h2 {
  color: white;
  margin: 0px;
}

/* header */
.name {
  font-family: 'cashew', cursive;
  font-size: 3em;
  font-weight: 300;
}

.profile-image {
  border-radius: 50%;
  padding: 10px;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 20px;
  display: inline-block;
}

/* WORK EXPERIENCE
 --------------------- */
.work {
  background: #e7f2f8;
  font-size: 16px;
  line-height: 1.25;
}

.education {
  background: #d2e5d0;
}
